* {
	box-sizing: border-box;
	text-decoration: none;
}
html, body {
	margin: 0;
	padding: 0;
}
img {
	max-width: 100%;
}
.header-container {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
}
.offer-text {
    font-family: 'Lato';
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    margin-top: 24px;
    margin-bottom: 11px;
    letter-spacing: 0.05px;
    padding-left: 5px;
}
.header-layout {
    position: relative;
    display: flex; 
    align-items: center;
    padding-left: 98px;
    padding-right: 98px;
}
.header-layout:after {
    content: '';
    display: block;
    width: 70%;
    height: 0.5px;
    position: absolute;
    top: 69px;
    left: 50%;
    transform: translateX(-50%);
}
.line-color_gray:after {
    background:#404146;
}
.header-logo a,
.menu-list a {
    text-decoration: none;
}
.logo-text p {
    margin: 0;
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #404146;
    padding-left: 15px;
}
.menu-list {
    list-style: none;
    margin: 0;
    gap: 34px;
    padding-right: 23px;
    padding-left: 139px;
}
.menu-item-home a{
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #07A081;
}
.menu-item a {
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #404146;
}
.header-search {
    position: relative;
}
.search-button {
    border: none;
    background: transparent;
    padding: 0 10px 0 0;
}
.search-input {
    border: none;
    width: 100%;
}
.header-form {
    border-radius: 27px;
    border: 0.5px solid #404146;
    width: 261px;
    height: 30px;
    overflow: hidden;
    display: flex;
    padding-left: 12px;
    font-family: Lato;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    color: #5C5C5C;
}
.header-cta {
    padding-left: 37px;
    display: flex;
}
.cta-link {
    position: relative;
}
.cart-quantity {
    padding: 1px 4px;
    position: absolute;
    left: 12px;
    bottom: 18px;
    z-index: 100;
    width: 14px;
    height: 14px;
    background: #FF3C3C;
    border-radius: 50%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
}
.cta-cart {
    padding-right: 17px;
}
.cta-favourites {
    padding-right: 13px;
}